*{
  margin: 0px;
  font-family: 'Lato', sans-serif;
}



main  {
  background-color: #4C3B4D;
}
/* 
#contenedor  {
  width: 960px;
  margin: 0 auto;
}

#columna-izq  {
  width: 700px; 
  float: left;
  background-color: aquamarine;
}
#columna-der  {
  width: 260px;
  float: right;
  background-color: red;
}

@media screen and (max-width: 959px) {
  #contenedor {
    width: 100%;
  }
  #columna-izq  {
    width: 70%;
  }
  #columna-der  {
    width: 30%;
  }
  img {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  #columna-izq  {
    width: 100%;
  }
  #columna-der  {
    width: 100%;
  }
} */
